
<h1> Type here your stupid question </h1>

<form method="GET" action="/answer">
  <input type="text" name="question" placeholder="ask your question" class="form">
  <input type="submit" class="btn" value="press here, stupid">
</form>

<div class="banana"></div>

<%= link_to "go to home", root_path, class: "btn" %>
